In [7]:
%matplotlib inline
import sys
import os
sys.path.append(os.path.abspath('../'))

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()

from twitterinfrastructure.tools import connect_db, output, query
import twitterinfrastructure.analyze_nyctlc as analyze
import importlib
importlib.reload(analyze)

print(os.getcwd())

matplotlib.rc('text', usetex=True)
matplotlib.rc('font', **{'family': "serif"})
params = {'text.latex.preamble': [r'\usepackage{siunitx}', 
                                  r'\usepackage{amsmath}']}
plt.rcParams.update(params)
sns.set_context('paper')
sns.set_style('darkgrid')

C:\dev\research\socialsensing\notebooks

In [18]:
# path = 'C:/dev/research/socialsensing/data/raw/nyctlc-triprecorddata/yellow_tripdata_2012-10.csv'
path = 'E:/Work/projects/twitterinfrastructure/data/processed/taxi_normal_1.csv'
df = pd.read_csv(path)

In [20]:
df.head()

,trip_id,taxi_type,pickup_datetime,pickup_date,pickup_hour,dropoff_datetime,dropoff_date,dropoff_hour,pickup_longitude,pickup_latitude,pickup_location_id,dropoff_longitude,dropoff_latitude,dropoff_location_id,passenger_count,trip_distance,trip_duration,trip_pace,trip_straightline,trip_windingfactor
0,141519517,2,2012-10-13 00:00:00,2012-10-13,0,2012-10-13 00:01:00,2012-10-13,0,-73.974722,40.753412,162,-73.975492,40.752262,162,1,0.36,60.0,166.666667,0.089044,4.042935
1,141519518,2,2012-10-13 00:00:00,2012-10-13,0,2012-10-13 00:02:00,2012-10-13,0,-73.991295,40.750217,186,-73.993585,40.748105,186,1,0.25,120.0,480.000000,0.188739,1.324583
2,141519519,2,2012-10-13 00:00:00,2012-10-13,0,2012-10-13 00:02:00,2012-10-13,0,-73.960433,40.778892,236,-73.954085,40.787247,75,3,0.75,120.0,160.000000,0.665617,1.126775
3,141519520,2,2012-10-13 00:00:00,2012-10-13,0,2012-10-13 00:02:00,2012-10-13,0,-73.952370,40.768547,140,-73.948662,40.775775,262,2,0.74,120.0,162.162162,0.535473,1.381956
4,141519521,2,2012-10-13 00:00:00,2012-10-13,0,2012-10-13 00:02:00,2012-10-13,0,-73.964767,40.760122,229,-73.963302,40.757462,229,2,0.37,120.0,324.324324,0.199029,1.859028